*.o
*#
*~
/parameter_file
/temp
/dub.selections.json
/.dub/
/spline/
/paper/auto/
/paper/largeQvalue.aux
/paper/largeQvalue.bbl
/paper/largeQvalue.blg
/paper/largeQvalue.log
/paper/largeQvalue.out
/paper/largeQvalue.pdf
/src/spline_src/modreg.h.gch
