*.o
*#
*~
/parameter_file
/temp
/largeQvalue
/dub.selections.json
/.dub/
/spline/
/spline/Rexample.R
/spline/bsplvd.f
/spline/bvalue.f
/spline/bvalus.f
/spline/makefile
/spline/modreg.h
/spline/qsbart.f
/spline/sbart.c
/spline/sgram.f
/spline/sinerp.f
/spline/spline_fit.c
/spline/sslvrg.f
/spline/stxwx.f
